body {
  margin: 0px !important;
  padding: 0px !important;
  font-family: "Segoe UI", Arial, sans-serif;
  background: #f0f2f5;
}

.container {
  margin: 0px !important;
  padding: 0px !important;
  display: flex;
  height: 100vh;
  width: 100%;
}

.users {
  width: 25%;
  background: #ffffff;
  border-right: 1px solid #ddd;
  padding: 10px;
  overflow-y: auto;
}

.users h3 {
  margin-top: 0;
}

.user-item {
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
}

.user-item:hover {
  background: #f5f5f5;
}

.chat {
  width: 75%;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
}

.chat-navbar {
  height: 55px;
  background: #075e54;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 5px;
  font-weight: normal;
}

.messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

/* MESSAGE BUBBLES */
.me,
.other {
  max-width: 60%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 8px;
  font-size: 14px;
}

.me {
  background: #dcf8c6;
  margin-left: auto;
}

.other {
  background: #ffffff;
  border: 1px solid #ddd;
}

.actions {
  margin-top: 5px;
  text-align: right;
}

.actions button {
  background: none;
  border: none;
  font-size: 11px;
  cursor: pointer;
  color: #555;
}

.actions button:hover {
  text-decoration: underline;
}

/* INPUT AREA */
.input {
  display: flex;
  padding: 10px;
  background: #ffffff;
  border-top: 1px solid #ddd;
}

.input input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.input button {
  margin-left: 10px;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  background: #0b93f6;
  color: white;
  cursor: pointer;
}
.badge {
  background: green;
  color: white;
  padding: 2px 6px;
  border-radius: 12px;
  font-size: 12px;
  float: right;
}
.user-item {
  position: relative;
  padding-right: 25px;
}

.badgeC {
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 7px;
  font-size: 12px;
  margin-left: 6px;
}
.users {
  display: flex;
  flex-direction: column;
  height: 95%;
  overflow-y: auto;
}

.users a[onclick="logout()"] {
  margin-top: auto;
  padding-top: 10px;
}
